<div align="center">
  <h2>Students Enrolled in this Course</h2>
  <style>
      table {
          background-color: rgba(150, 212, 212, 0.4);
          font-size: large;
      }
      button{
          margin-bottom: 5px;
          color: coral;
          font-size: large;
      }

  </style>



  <table border="2px blue solid">


    <thead>
    <tr>
      <th>Student Name</th>
      <th>Student Email</th>
      <th>Student Department</th>


    </tr>
    </thead>

    <tbody>
    <% @course.students.each do |student| %>
      <tr>
        <td><%=student.name %></td>
        <td><%=student.email %></td>
        <td><%=student.department.name %></td>


      </tr>
    <% end %>
    </tbody>
  </table>
  <h2>Marks and GPA</h2>

</div>